html{
    scroll-behavior: smooth;
}
body{
    background-color: rgb(252, 221, 221);
}

h1{
    text-align: center;
}

.tvShow {
    margin: auto;
    background-color: antiquewhite;
    width: 500px;
    height: 900px;
    padding: 50px;
    box-sizing: border-box;
    font-family:Courier New;
}

.tvShow h2{
    text-align: center;
    color:rgb(29, 57, 82);
}

.tvShow img{
    width: 400px;
    height: 600px;
    object-fit: cover;
    object-position: center;
   
}

